.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1; /* Light grey background */
  margin: 0;
  height: 100vh;
}

.form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 300px;
  transform: translateY(-20%);
}
.form > h3 {
  text-align: center;
}

.form > label,
.form > input {
  display: block;
}

.form > input {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border-color: #777;
  border-radius: 4px;
}

.form > button {
  color: #fff;
  background: #22c55e;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  min-width: 80px; /*consistent bottom size  */
  margin: 10px 0px;
}
